.csv-table-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.csv-table {
  border-collapse: collapse;
  &__header {
    background-color: #000;
  }
  &__body {
    background-color: #dbdbdb;
    .table__row + .table__row {
      border-top: 2px #00f solid;
    }
    .table__row:nth-child(odd) {
      background-color: #fff;
    }
  }
  .table__cell {
    padding: 10px 20px;
    font-size: 16px;
    &--head {
      font-size: 18px;
      text-align: left;
      color: #fff;
    }
  }
  .editable-field {
    font-size: inherit;
    color: inherit;
    &--input {
      padding: 0;
      font-weight: inherit;
      background-color: #ff0;
      color: #00f;
      font-family: inherit;
      appearance: none;
      border: none;
      box-sizing: border-box;
      outline: none;
    }
  }
}
