$button-width: 100px;
$button-height: 25px;

.csv-table-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  .features {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .button {
    width: $button-width;
    height: $button-height;
    border: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    &--primary {
      color: #fff;
      background-color: #00f;
      &:hover,
      &:focus {
        color: #00f;
        background-color: #ff0;
      }
    }
    &--secondary {
      color: #00f;
      background-color: #ff0;
      &:hover,
      &:focus {
        color: #fff;
        background-color: #00f;
      }
    }
  }
  .toolbar__row {
    display: flex;
    margin-bottom: 1px;
  }
  .button + .button {
    margin-left: 1px;
  }
  .export-link {
    width: $button-width;
    height: $button-height;
    outline: none;
    margin-bottom: 1px;
    margin-left: auto;
  }
  .input-number {
    height: $button-height;
    outline: none;
    padding-left: 5px;
    color: #000;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px #000 solid;
    &::-webkit-inner-spin-button {
      width: 20px;
      height: 25px;
    }
  }
}

.csv-table {
  border-collapse: collapse;
  &__header .table__cell {
    background-color: #000;
  }
  &__body {
    background-color: #ececec;
    .table__row + .table__row {
      border-top: 1px #00f solid;
    }
    .table__row:nth-child(odd) {
      background-color: #fff;
    }
  }
  .table__cell {
    padding: 10px 20px;
    font-size: 14px;
    &--head {
      font-size: 16px;
      text-align: left;
      color: #fff;
    }
  }
  .editable-field {
    min-height: 20px;
    line-height: 20px;
    font-size: inherit;
    color: inherit;
    &--input {
      padding: 0;
      font-weight: inherit;
      background-color: #ff0;
      color: #00f;
      font-family: inherit;
      appearance: none;
      border: none;
      box-sizing: border-box;
      outline: none;
    }
  }
}
